AnotoWorkshop/bin/Debug/AnotoWorkshop.exe.config
AnotoWorkshop/bin/Debug/AnotoWorkshop.vshost.exe.config
AnotoWorkshop/bin/Debug/AnotoWorkshop.vshost.exe.manifest
AnotoWorkshop/obj/Debug/AnotoWorkshop.csproj.FileListAbsolute.txt
AnotoWorkshop/obj/Debug/TemporaryGeneratedFile*
AnotoWorkshop/obj/Debug/AnotoWorkshop.*.resources
_ReSharper.AnotoWorkshop/
*.cache
*.exe
*.pdb
