AnotoWorkshop/bin/Debug/AnotoWorkshop.exe.config
AnotoWorkshop/bin/Debug/AnotoWorkshop.vshost.exe.config
AnotoWorkshop/bin/Debug/AnotoWorkshop.vshost.exe.manifest
_ReSharper.AnotoWorkshop/
*.cache
*.exe
*.pdb
AnotoWorkshop/obj/
AnotoWorkshop.sln.DotSettings.user
AnotoWorkshop/bin/Debug/settings.xml
AnotoWorkshop/bin/Release/
AnotoWorkshop/bin/
Setup/Setup/Express/
_UpgradeReport_Files/
UpgradeLog.htm
UpgradeLog.XML
