AnotoWorkshop/bin/Debug/AnotoWorkshop.exe.config
AnotoWorkshop/bin/Debug/AnotoWorkshop.vshost.exe.config
AnotoWorkshop/bin/Debug/AnotoWorkshop.vshost.exe.manifest
_ReSharper.AnotoWorkshop/
*.cache
*.exe
*.pdb
AnotoWorkshop/obj/
AnotoWorkshop.sln.DotSettings.user
